
    <script src="~/lib/jquery/dist/jquery.js"></script>

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p> <a href="/Pelicula" class="btn btn-success">Ver peliculas</a>.</p>

    </div>




